<div class="grid">
  <div class="card">
    <div class="card-title">
      Line Chart
    </div>
    <div class="card-content">
      <app-line-chart></app-line-chart>
    </div>
  </div>
  <div class="card">
    <div class="card-title">
      Donut Chart Single-Section
    </div>
    <div class="card-content">
      <app-donut-chart [strokeWidth]="16" [size]="100" [percent]="57" [color]="'green'"></app-donut-chart>
    </div>
  </div>
  <div class="card">
    <div class="card-title">
      Horizontal Bar Chart
    </div>
    <div class="card-content">
      <app-custom-select></app-custom-select>
    </div>
  </div>
</div>



